:root {
  --purple-player-color: purple;
  --blue-player-color: blue;
  --red-player-color: red;
  --green-player-color: green;
  --yellow-player-color: yellow;
  --black-player-color: black;

  --purple-player-inactive-color: rgba(128, 0, 128, .25);
  --blue-player-inactive-color: rgba(0, 0, 255, .25);
  --red-player-inactive-color: rgba(255, 0, 0, .25);
  --green-player-inactive-color: rgba(0, 128, 0, .25);
  --yellow-player-inactive-color: rgba(255, 255, 0, .25);
  --black-player-inactive-color: rgba(0, 0, 0, .25);

  --main-bg-color: #440044;
  --board-bg-color: antiquewhite;

  --blue-train-color: #06a3e9;
  --red-train-color: #cd4138;
  --green-train-color: #9bc754;
  --yellow-train-color: #e1e84b;
  --black-train-color: #000000;
  --pink-train-color: #e99dcd;
  --white-train-color: #e7eaf2;
  --orange-train-color: #d09034;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html,
body {
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}


.blue {
  fill: var(--blue-train-color);
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.red {
  fill: var(--red-train-color);
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.pink {
  fill: var(--pink-train-color);
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.black {
  fill: var(--black-train-color);
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.white {
  fill: var(--white-train-color);
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.yellow {
  fill: var(--yellow-train-color);
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.grey {
  fill: #a3a2a0;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.green {
  fill: var(--green-train-color);
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.orange {
  fill: var(--orange-train-color);
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

#Routes rect {
  stroke-width: 0.2646;
}


#Cities > circle {
  stroke-width: 0.2646;
  fill: #000000;
}

.city-label {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 3.5278px;
  line-height: 0.75;
  font-family: 'Times New Roman';
  fill: #000000;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.37044;
  stroke-linejoin: bevel;
  stroke-dashoffset: 100.004;
  stroke-opacity: 1;
  paint-order: stroke markers fill
}

.city-label-centered {
  text-align: center;
  text-anchor: middle;
}

.train {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.player-red {
  fill: var(--red-player-color);
  /*color: red;*/
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-green {
  fill: var(--green-player-color);
  /*color: green;*/
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-blue {
  fill: var(--blue-player-color);
  /*color: blue;*/
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-yellow {
  fill: var(--yellow-player-color);
  /*color: yellow;*/
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-black {
  fill: var(--black-player-color);
  /*color: black;*/
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-purple {
  fill: var(--purple-player-color);
  /*color: purple;*/
  fill-opacity: 1;
  stroke-opacity: 1;
}

main {
  padding: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
}


.footer {
}


.header {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 50px;
}

.button {
  padding: .5rem .2rem;
  margin: .7rem .2rem;
}

.list {
  list-style-type: none;
}

.card {
  padding: .2rem .2rem;
  margin: .2rem .2rem;
  background: rgb(193, 235, 238);
  border: 1px solid black;
}


.private-info {
  padding: 1rem;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  flex-direction: row;
  justify-content: space-between;
}


/** LEFTOVERS **/
.destination-popup-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: visible;
  background-image: radial-gradient(
      circle at 100% 85%,
      red,
      turquoise,
      green,
      white,
      orange,
      black,
      pink,
      yellow
  );
  background-color: rgba(255, 255, 255, .8);
  z-index: 999;
}

.destination-popup {
  background-image: conic-gradient(
      from 45deg at 20% 30%,
      red,
      turquoise,
      green,
      white,
      orange,
      black,
      pink,
      yellow
  );
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 500px;
  width: 100%;
  background-color: #CCC;
  border: 1px solid black;
  z-index: 1000;
  opacity: 1;
}

@media (max-width: 850px) {
  .destination-popup {
    left: 0;
    top: 0;
    transform: none;
    width: 100%;
    max-width: 100%;
    height: 100vh;
  }
}
