* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: antiquewhite;
}


.blue {
  fill: #06a3e9;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.red {
  fill: #cd4138;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.pink {
  fill: #e99dcd;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.black {
  fill: #000000;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.white {
  fill: #e7eaf2;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.yellow {
  fill: #e1e84b;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.grey {
  fill: #a3a2a0;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.green {
  fill: #9bc754;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.orange {
  fill: #d09034;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

#Routes rect {
  stroke-width: 0.2646;
}


#Cities>circle {
  stroke-width: 0.2646;
  fill: #000000;
}

.city-label {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 3.5278px;
  line-height: 0.75;
  font-family: 'Times New Roman';
  fill: #000000;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.37044;
  stroke-linejoin: bevel;
  stroke-dashoffset: 100.004;
  stroke-opacity: 1;
  paint-order: stroke markers fill
}

.city-label-centered {
  text-align: center;
  text-anchor: middle;
}

.train {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.player-red {
  fill: red;
  color: red;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-green {
  fill: green;
  color: green;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-blue {
  fill: blue;
  color: blue;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-yellow {
  fill: yellow;
  color: yellow;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-black {
  fill: black;
  color: black;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-purple {
  fill: purple;
  color: purple;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 100vw;
}

main {
  padding: 1rem;
  flex-grow: 5;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  flex-direction: row;
}

.map {
  display: flex;
  flex-grow: 8;
  flex-shrink: 1;
  min-height: 0%;
  flex-basis: auto;
}


.footer {
  padding: 1rem;
}

.board-wrapper {
    display: flex;
  flex-grow: 5;
  flex-shrink:0;
  flex-basis: auto;
  flex-direction: column;
}
.deck-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.header {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 50px;
}

.button {
  padding: .5rem .2rem;
  margin: .7rem .2rem;
}

.list {
  list-style-type: none;
}

.card {
  padding: .2rem .2rem;
  margin: .2rem .2rem;
  background: rgb(193, 235, 238);
  border: 1px solid black;
}


