.player-scores-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--main-bg-color);
    flex-grow: 1;
    flex-shrink: 0;
    padding-left: 1em;
    padding-right: 1em;
}

.player-scorecard {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    max-width: 250px;
    margin-right: 2em;
    background-color: #CCC;
    box-shadow: 2px 2px 13px var(--player-color);
}
.player-scorecard > .row {
    border-color: var(--player-color)
}

.player-purple {
    --player-color: var(--purple-player-color);
}
.player-red {
    --player-color: var(--red-player-color);
}
.player-blue {
    --player-color: var(--blue-player-color);
}
.player-green {
    --player-color: var(--green-player-color);
}
.player-yellow {
    --player-color: var(--yellow-player-color);
}
.player-black {
    --player-color: var(--black-player-color);
}

.player-scorecard .player-name {
    font-size: 1.2em;
}

.player-scorecard .row {
    display: flex;
    flex-direction: row;
}

.player-scorecard > .row {
    border-style: outset;
    border-width: 2px 2px 2px 2px;
}

.player-scorecard .player-cards .col {
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
}

.player-scorecard .player-scores {
    justify-content: space-between;
}

.player-scorecard .player-scores .player-image,
.player-scorecard .player-scores .player-trains-remaining {
    flex-shrink: 10;
    flex-grow: 0;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 200, 200, .2)
}

.player-scorecard .player-scores .player-trains-remaining {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 1.1em;
}

.player-scorecard .player-scores .player-score {
    text-align: center;
    font-size: 2.5em;
    background-color: rgba(255, 200, 200, .5);
    flex-grow: 100;
}
