.wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
}

.sidebar {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
}

.sidebar:first-of-type {
  flex-basis: 250px;
}
.sidebar:last-of-type {
  /*flex-basis: 10vw;*/
}

.board {
  display: flex;
  flex-direction: row;
  max-height: 80vh;
}

.map {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  justify-content: center;
  background-color: var(--board-bg-color);
}

