.black-outline {
    fill:#000000;
    stroke-width:0.2646;
  }
  
  .gray-route {
    fill:#a3a2a0;
    stroke-width:0.2646;
    fill-opacity:1;
  }
  
  .yellow-route {
    fill:#e1e84b;
    stroke-width:0.2646;
    fill-opacity:1;
  }
  
  .orange-route {
    fill:#d09034;
    stroke-width:0.2646;
    fill-opacity:1;
  }
  
  .white-route {
    fill:#e7eaf2;
    stroke-width:0.264587;
    fill-opacity:1
  }
  
  .green-route {
    fill:#9bc754;
    stroke-width:0.264587;
    fill-opacity:1
  }
  
  .red-route {
    fill:#cd4138;
    stroke-width:0.264587;
    fill-opacity:1;
  }