* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: antiquewhite;
}


.blue {
  fill: #06a3e9;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.red {
  fill: #cd4138;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.pink {
  fill: #e99dcd;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.black {
  fill: #000000;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.white {
  fill: #e7eaf2;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.yellow {
  fill: #e1e84b;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.grey {
  fill: #a3a2a0;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.green {
  fill: #9bc754;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

.orange {
  fill: #d09034;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 0.2646;
  stroke: #000000;
  display: inline;
}

#Routes rect {
  stroke-width: 0.2646;
}

#Routes g.hovered rect {
  stroke-width: 0.2646;
  stroke: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

#Cities>circle {
  stroke-width: 0.2646;
  fill: #000000;
}

.train {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.player-red {
  fill: red;
  color: red;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-green {
  fill: green;
  color: green;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-blue {
  fill: blue;
  color: blue;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-yellow {
  fill: yellow;
  color: yellow;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-black {
  fill: black;
  color: black;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.player-purple {
  fill: purple;
  color: purple;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.wrapper {
  display: flex;
  max-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  padding: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 50px;
}

.gameboard {
  display: flex;
  flex-grow: 8;
  flex-shrink: 1;
  min-height: 0%;
  flex-basis: auto;
}

.header {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 50px;
}

.button {
  padding: .5rem .2rem;
  margin: .7rem .2rem;
}

.list {
  list-style-type: none;
}

.train-hand {
  display: flex;
}

.train-card-hand {
  height: 100px;
  transform: rotate(90deg)
}

.card {
  padding: .2rem .2rem;
  margin: .2rem .2rem;
  background: rgb(193, 235, 238);
  border: 1px solid black;
}