.black {
    fill: #000000;
    fill-opacity: 1;
}

.white {
    fill: #e7eaf2;
    fill-opacity: 1;
}

.yellow {
    fill: #e1e84b;
    fill-opacity: 1;
}

.grey {
    fill: #a3a2a0;
    fill-opacity: 1;
}

.green {
    fill: #9bc754;
    fill-opacity: 1;
}

.orange {
    fill: #d09034;
    fill-opacity: 1;
}

#Routes rect {
    stroke - width: 0.2646;
fill: #000000;
}
#Cities &gt; circle {
    stroke - width: 0.2646;
fill: #000000;
}