import { MouseEventHandler } from "react";
import React from 'react';

interface USGameboardProps {
    claimRoute: MouseEventHandler;
    getTrainClass: (routeId: string) => string
}

export default function USGameboard({ claimRoute, getTrainClass}: USGameboardProps) {

    return (
        {{svg_data}}
    )
};