.deck {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1em;
  max-height: 100%;
  align-items: stretch;
}

.train-card-wrapper {
  height: 12vh; /* scaling using viewport percent units */
  margin: .5em 0;
  cursor: pointer;
}
