.deck {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1em;
  max-height: 100%;
  align-items: stretch;
}

.train-card-wrapper {
  height: 12vh; /* scaling using viewport percent units */
  margin: .5em 0;
  cursor: pointer;
}

.disabled {
  position: relative;
  right: -35%;
}
.disabled::before {
  content: "";
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background-color: rgba(0,0,0,.3);
  cursor: not-allowed;
}
